Body{
  background-color:black;
  text-align:center;
}
h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
p{
  color:white;
}
.button{font-size: 30px;
  border-radius: 10px;
  background-color:rgb(25, 0, 25);
  border-color:rgb(109, 109, 109);
  font-family:"Monaco";
  color: rgb(236, 235, 228);